$primary: #0C8CF6;

.pull-right {
    float: right;
}

input[type=text]:focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid $primary;
    box-shadow: 0 1px 0 0 $primary;
}

.card {
    width: 70%;
    margin-left: 15%;
}

.prow {
    width: 90%;
    text-align: justify;
    margin-left: 5%;
}

.carcontainer {
    height: 100%;
    width: 70%;
    margin-left: 15%;
    margin-bottom: 10%;
}
