$primary: #0C8CF6;

.pull-right {
    float: right;
}

input[type=text]:focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid $primary;
    box-shadow: 0 1px 0 0 $primary;
}

.prow {
    width: 70%;
    text-align: justify;
    margin-left: 15%;
    margin-bottom: 5%;
}

.carcontainer {
    height: 100%;
    width: 70%;
    margin-left: 15%;
    margin-bottom: 10%;
}

#greycontainer {
    .gcontainer {
        height: 500px;
        width: 100%;
        background-color: #665a5a;
        padding-top: 3%;
        padding-bottom: 3%;
        margin-top: 5%;
        margin-bottom: 5%;
    }

    .card {
        width: 70%;
        margin-left: 15%;
    }

    .card-action {
        height: 41px;
    }
}
