<style media="screen">
    h3 {
        padding-top: 15px;
        padding-bottom: 30px;
        text-align: center;
        font-family: impact;
        color: orange;
    }

    #cards {
        padding-bottom: 50px;
    }

    h6 {
        padding-bottom: 20px;
    }
</style>

<section>


    <div class="fixed-action-btn toolbar">
        <a class="btn-floating btn-large orange">
            <i class="large material-icons">settings</i>
        </a>
        <ul>
            <li class="waves-effect waves-light"><a ng-init="view = true" ng-click="view = false"><i class="material-icons">add</i></a></li>
            <li class="waves-effect waves-light"><a ng-click="view = true"><i class="material-icons">view_module</i></a></li>
        </ul>
    </div>

    <div ng-if="view">

        <h3>Nos derniers sites</h3>

        <div class="row">

            <nav class="row col s10 offset-s1 orange">
                <div class="nav-wrapper orange">
                    <form>
                        <div class="input-field">
                            <input id="search" type="search" placeholder="search" ng-model="searchText" required>
                            <label for="search"><i class="material-icons">search</i></label>
                            <i class="material-icons">close</i>
                        </div>
                    </form>
                </div>
            </nav>

            <div class="col s6" ng-repeat="site in $ctrl.sites | limitTo:6 | filter:searchText" id="cards">

                <div class="card small">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="{{site.src}}">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">{{site.name}}<i class="material-icons right">more_vert</i></span>
                        <p><a href="#">{{site.link}}</a></p>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">{{site.name}}<i class="material-icons right">close</i></span>
                        <p>Auteur: {{site.author}}</p>
                        <p>Techno:
                            <div class="chip">
                                <img src="http://www.ghoumaire.fr/img/js.png" alt="Contact Person"> JavaScript
                            </div>
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="container" ng-if="!view">
        <div class="row">
            <form class="col s12">
                <div class="row">
                    <div class="input-field col s6">
                        <i class="material-icons prefix">web</i>
                        <input type="text" class="validate" ng-model="$ctrl.post.name">
                        <label for="text">Site name</label>
                    </div>
                    <div class="input-field col s6">
                        <i class="material-icons prefix">language</i>
                        <input type="text" class="validate" ng-model="$ctrl.post.link">
                        <label for="text">Site link</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">perm_identity</i>
                        <input type="text" class="validate" ng-model="$ctrl.post.author">
                        <label for="text">Author</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">note_add</i>
                        <input type="text" class="validate" ng-model="$ctrl.post.src">
                        <label for="text">Screenshots link</label>
                    </div>
                </div>
                <h6>If your links are not on the cloud, you can send the screenshots directly by the form</h6>
                <div class="file-field input-field">
                    <div class="btn orange">
                        <span>Files</span>
                        <input type="file">
                    </div>
                    <div class="file-path-wrapper">
                        <input class="file-path validate" type="text" placeholder="Screenshots">
                    </div>
                </div>
                <button class="btn waves-effect waves-light orange col s2 offset-s5" ng-click="">Submit
                  <i class="material-icons right">send</i>
                 </button>
            </form>
        </div>
    </div>

</section>
