<div class="fixed-action-btn toolbar">
    <a class="btn-floating btn-large blue darken-1">
        <i class="large material-icons">reorder</i>
    </a>
    <ul>
        <!-- Button for futur filter -->
        <li class="waves-effect waves-light"><a href="#!"><i class="material-icons">favorite</i></a></li>
        <!-- Button used to create a new post, we change state to app.blog.item with params '_new' -->
        <li class="waves-effect waves-light"><a ui-sref="app.blog.item({id: '_new'})"><i class="material-icons">add_box</i></a></li>
    </ul>
</div>
