<div id="carousel">
    <div class="container">
        <div class="inner">
            <div class="item item-{{$index}}" style="background: url('{{project.src}}');" ng-repeat="project in $ctrl.projects | limitTo:6"></div>
            <!-- <div class="item a"></div>
            <div class="item b"></div>
            <div class="item c"></div>
            <div class="item d"></div>
            <div class="item e"></div>
            <div class="item f"></div> -->
        </div>
    </div>
    <!-- <div class="next" ng-click="$ctrl.rotate('n')">Next</div>
    <div class="prev" ng-click="$ctrl.rotate('p')">Prev</div> -->
</div>
