<style>
    .footer {
        width: 100%;
        background-color: #665a5a;
    }
</style>

<header class="footer" role="navigation">
    <nav class="footer">
        <ul class="footer">
            <li ui-sref-active="selected"><a ui-sref="app.projectitem">{{'HOME'}}</a></li>
            <li ui-sref-active="selected"><a ui-sref="app.projectList">{{'BLOGS'}}</a></li>
            <li ui-sref-active="selected"><a ui-sref="app.log-in">{{'JOIN US'}}</a></li>
            <li ui-sref-active="selected"><a ui-sref="app.log-in">{{'FAQ'}}</a></li>
            <li ui-sref-active="selected"><a ui-sref="app.log-in">{{'TERMS OF USE'}}</a></li>
        </ul>
    </nav>
</header>
