

<header class="footer" role="navigation">
    <nav class="footer">
        <ul class="footer">
          <li ui-sref-active="selected"><a ui-sref="app.log-in">{{'HACKFOLIO lllllllllllllllllllllllllllllllllllllllllllll'}}</a></li>

            <li ui-sref-active="selected"><a ui-sref="app.log-in">{{'JOIN US'}}</a></li>
            <li ui-sref-active="selected"><a ui-sref="app.log-in">{{'FAQ'}}</a></li>
            <li ui-sref-active="selected"><a ui-sref="app.log-in">{{'TERMS OF USE'}}</a></li>
            <li ui-sref-active="selected"><a ui-sref="app.log-in">{{'PRIVACY POLICY'}}</a></li>
        </ul>
    </nav>
</header>
