<style>
    .navbar {
        width: 100%;
        background-color: #665a5a;
    }
</style>

<header class="navbar" role="navigation">
    <nav class="navbar">
        <ul class="navbar">
            <li ui-sref-active="selected"><a ui-sref="app.projectitem">{{'HOME'}}</a></li>
            <li ui-sref-active="selected"><a ui-sref="app.projectList">{{'BLOGS'}}</a></li>
            <li ui-sref-active="selected"><a ui-sref="app.log-in">{{'LOG-IN/REGISTER'}}</a></li>
        </ul>
    </nav>
</header>
