<!-- Display blogItemMenu component (see blogItemMenu.js ) and bind properties with all functions  -->
<blog-item-menu ng-if="$ctrl.editable" edit-mode="$ctrl.editMode" on-undo="$ctrl.undo()" on-edit="$ctrl.editMode = !$ctrl.editMode" on-delete="$ctrl.delete()" on-save="$ctrl.save()" />
<div class="col s12 m4">
    <div class="card">
        <!-- In general if it's not editable it's when this component is used in the blogList component -->
        <div class="card-content">
            <!-- Display post.title if this component is not editable or editable and not in edit mode -->
            <span class="card-title" ng-if="(!$ctrl.editable || ($ctrl.editable && !$ctrl.editMode))">
              {{$ctrl.post.title}}
            </span>
            <!-- Display input for editing post.title only if editable and in edit mode -->
            <input type="text" ng-if="($ctrl.editable && $ctrl.editMode)" ng-model="$ctrl.post.title" placeholder="Title">
            <!-- Display post.content if this component is not editable or editable and not in edit mode -->
            <div ng-if="(!$ctrl.editable || ($ctrl.editable && !$ctrl.editMode))">
                {{$ctrl.post.content | limitTo: ($ctrl.editable ? $ctrl.post.content.length : 110)}}
            </div>
            <!-- Display textarea for editing post.content only if editable and in edit mode -->
            <textarea class="materialize-textarea" ng-if="($ctrl.editable && $ctrl.editMode)" ng-model="$ctrl.post.content" placeholder="Content"></textarea>
        </div>
        <div class="card-action">
            <!-- Display this link, only if it's not editable, to change state to app.blog.item with the post id -->
            <a ng-if="!$ctrl.editable" ui-sref="app.blog.item({id: $ctrl.post._id})" class="blue-text text-darken-1">Read more</a>
            <!-- Display this link, only if it's editable and not in edit mode, to change state to app.blog.list (go back) -->
            <a ng-if="$ctrl.editable && !$ctrl.editMode" ui-sref="app.blog.list" class="blue-text text-darken-1">Close</a>
            <!-- Display these links, only if it's in edit mode  -->
            <a ng-if="$ctrl.editMode" ng-click="$ctrl.undo()" class="waves-effect blue-text text-darken-1"><i class="material-icons">undo</i></a>
            <a ng-if="$ctrl.editMode" ng-click="$ctrl.save()" class="waves-effect blue-text text-darken-1"><i class="material-icons">done</i></a>
            <!-- On click change value of post.isFav to inverse of this value -->
            <a href="" ng-click="$ctrl.post.isFav = !$ctrl.post.isFav">
                <!-- Change icon from post.isFav value -->
                <i class="material-icons pull-right red-text darken-1-text">{{($ctrl.post.isFav ? 'favorite' : 'favorite_border')}}</i>
            </a>
        </div>
    </div>
</div>
